Language: Cpp
BasedOnStyle: Microsoft
ColumnLimit: 100
IndentWidth: 4
AllowShortIfStatementsOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
UseTab: Never
AlignConsecutiveAssignments: true
AlignConsecutiveMacros: true
AlwaysBreakAfterReturnType: TopLevelDefinitions
IndentCaseLabels: true
IndentGotoLabels: false
