@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  margin: 40px auto;
  max-width: 60rem;
  line-height: 1.6;
  font-size: 1.2rem;
  background-color: #0f141b;
  padding: 0 10px;
  /* font-family: "Inter", sans-serif; */
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
a {
  color: #c5c5c5;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
a {
  font-family: "Open Sans", sans-serif;
}

img {
  width: 750px;
  border-radius: 10px;
}

pre {
  background-color: #181f27;
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  counter-reset: line;
  color: #ededed;
  font-family: "Inconsolata", monospace;
}

::selection {
  color: #212b36;
  background: #e79e67;
}